<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/about.css'>
        
    </head>
    <body>
        <div class="main-content">
        
            {{>header}}
               
                <div class="about">
                     <div id="glasspane" class="spot-shade">      
                        <div id="spotlight"></div>
                    </div> 
                    <div class="item1 text-shape text-content">
                         <br/>Hello ! I'm Laura, <br />WELCOME to my playground 
                    </div>
                    <div class="item2 text-shape text-content">
                        <br/><br/>Fun CSS tricks and more
                    </div>
                     <div class="item3 text-shape text-content">
                        <br/>Purpose: to have a place to try new stuff
                    </div>
                    <div class="item4 text-shape text-content">
                        <br/><br/>&nbsp;&nbsp;&nbsp; Have Fun
                    </div>
                     <div class="item5 text-shape text-content">
                         <br/>&nbsp;&nbsp;&nbsp; Visit my gitHub
                    </div>
                      <div class="item6 text-shape text-content">
                        <br/>Love programming
                    </div>
                     <div class="item7 text-shape text-content">
                       
                         <br/>Build with Node JS / hbs (html) / pure CSS / JS
                    </div>
                     <div class="item8 text-shape text-content">
                       
                         Philosophy: If you can imagine it , you can programm it !
                    </div>

                    <img id="myPhoto" src="./img/photo_about.jpg" alt="myPhoto"/>
                </div>   
                 
           
        </div>
       
    </body>
     <script src="/js/about.js" ></script>
 
</html>