<!DOCTYPE html>
<html>
    <head>
        <title>Ball</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/ball.css'>
        <link rel='stylesheet' href='/css/styles.css'>
         <script type="module" src="/js/ball.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            
            <div class="canvas-container">
                <div class="img-container">
                <img id="st-logo" src="./img/Stranger_Things_logo.png" alt="strangerThingsLogo"/>
                <img id="st-hawk" src="./img/hawkings.jpeg" alt="HawkingsLogo"/>
              
                </div>
                
                <canvas width="800" height="600"></canvas>
            </div>
    <audio id="st" src="./img/stranger-things.mp3" type="audio/mpeg"></audio>
        </div>
      
    </body>
</html>