<!DOCTYPE html>
<html>
    <head>
        <title>Fun</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel='stylesheet' href='/css/fun.css'>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="subheader box-header">
                <div class="subheader-contents">
                    <img id="link-ball" width="150px" src="./img/shadow-monster.jpeg" alt="strangerThingsLogo"
                    onclick="window.location.href='/ball'"/>
                </div>
            </div>
           
        </div>
       
    </body>
     <script src="/js/fun.js" ></script>
     
</html>