{{!-- ### header.hbs --}}
<header>
    <div class="title-container">
       
        <div class="logos">
            <img class="logo" id="github" src="/img/githubLogo.png" onclick =" window.location = 'https://github.com/petitelau'"/>
             <span class="tooltiptext">https://github.com/petitelau</span>
            <img class="logo" id="codepen" src="/img/codepenlogo.png" onclick= "window.location = 'https://codepen.io/petitelau/pens/public'"/>
              <span class="tooltiptext">https://codepen.io/petitelau</span>
        </div>
      
    </div>
     <h1 id="title" class="go-title">{{title}}</h1>
    <div class="links-header box-header">
            <!-- ### links --!>
            <a id="home-link" class="notClicked" href="/home">Home</a>
            <a id="fun-link" href="/fun" class="notClicked">Fun</a>
            <a id="links" href="/links" class="notClicked">Links</a>
            <a id="about-link"  href="/about" class="notClicked">About</a>
    </div>
  


</header>