/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  background: hsl(200, 63%, 61%);
}

body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  
}

.box-header {
  box-shadow: 0.8px 5px 0.5rem 0.6rem hsl(210deg 84% 34%);
  border-radius: 10px;
}

.links-header {
  background: #fff;
  justify-content: space-around;
  margin: 2rem 10rem;
  height: 5rem;
  align-items: center;
  display: flex;
  flex-grow: 0;
  margin-left:5rem;
}

.up-header {
  animation: top-header .7s forwards;
}
@keyframes top-header {
  10%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(-80px);
  }
  
}

#playground-left {
  --open-width: 400px;
  --open-move: 100px;
  --anim-time: .1s;
  background-image: url("../img/playground-left.png");
 /* animation: cloudy1 3s;*/
  
}
#playground-right {
  --open-width: 400px;
  --open-move: 100px;
  --anim-time: .1s;
  background-image: url("../img/playground-right.png");
 /* animation: cloudy2 3s;*/
}

/*
.filterDay::before {
  content: '';  
  background-image: url(../img/asfalt-light.png);
  top: 0;
  height:400px;
  width:500px;
  position: absolute;
  background-position: top;
  animation: raining 2s ;
}
@keyframes raining{
  90% {
      background-position: bottom;
  }
}
@keyframes cloudy1 {
  50% {
    background-image: 
          linear-gradient(to bottom, rgba(123, 129, 131, 0.44), rgba(255, 255, 255, 0.077)),
          url("../img/playground-left.png");    
  }
}
@keyframes cloudy2 {
  50% {
    background-image: 
          linear-gradient(to bottom, rgba(123, 129, 131, 0.44), rgba(255, 255, 255, 0.077)),
          url("../img/playground-right.png");    
  }
  
}*/

.playground-r::after{
  content:'';
  width:4rem;
  height:3.8rem;
  background:hsl(210, 84%, 34%);
  /*box-shadow: -8px 5px 4rem 0rem rgb(0 0 0 / 60%);*/
  top:90%;
  right: 10rem;
  position:absolute;
  border-radius: 50%;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-name: ball;
  animation-duration: 2s;
}
@keyframes ball {
  100% { transform: translateX(8rem);}
}


.main-content {
   margin: 2rem;
   border: solid 0.7rem hsl(210, 84%, 34%);
   border-radius: 15px;
   background: #fff;
   box-shadow: 0.8px 5px 0.5rem 0.6rem rgb(0 0 0 / 40%);
   max-width: 100rem;
   min-height: 83rem;
  
}
.playground-img {
  display: grid;
  grid-template-columns: 50rem 50rem;
  position: relative;
  transform:scale(0.75);
  right:5.5rem;
}

.playground-l {
  width: 501px;
  height: 648px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 20px 8px 0.8px 1.2px hsl(210deg 84% 34%);
  transition: var(--anim-time);
}
.playground-r {
  width: 498px;
  height: 648px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 8px 8px 0.8px 0.8px hsl(210deg 84% 34%);
  transition: var(--anim-time);
}
.open-img-r {
  transform: translateX(var(--open-move));
  width: var(--open-width);
  height: 648px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 8px 8px 0.8px 0.8px hsl(210deg 84% 34%);
  transition: var(--anim-time);
}
.open-img-l {
  width: var(--open-width);
  height: 648px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 20px 8px 0.8px 0 hsl(210deg 84% 34%);
  transition: var(--anim-time);
}


#subeybaja {
  position: absolute;
  width: 220px;
  top:510px;
  left:240px;
  height:100px;
  display: block;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url('../img/subeybaja.png');
  animation: cloudy3 5s;
}

@keyframes cloudy3 {
  0% {
   background-image: none;
  }
  
}




footer {
  color: #888888;
  margin-top: 2.6rem;
  padding: 1.6rem 0;
}



a {
  cursor: pointer;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 800;
  color: #888888;
  position: relative;
}

a.notClicked::before {
  content: '';
  position: absolute;
  border-right: 4px solid hsl(200, 63%, 61%);;
  height: 25px;
  top: 5px;
  left:-8px;
}

a.notClicked:hover::before {
  left: 105%;
  transition: 0.4s;
}
 a.notClicked:hover {
  background:hsl(200, 63%, 61%);
  -webkit-background-clip: text;
  color: transparent;
  transform:translateY(1px);
  transition: .5s;
}

 a.clicked:after {
  content: '';
  position: absolute;
  border-right: 4px solid hsl(200, 63%, 61%);;;
  border-bottom: 4px solid hsl(200, 63%, 61%);;;
  height: 20px;
  width: 8px;
  top: 5px;
  left:120%;
  animation: checkSelected .5s forwards; 
}

@keyframes checkSelected {
  
100% {
  transform: rotate(45deg);
  transition: 0.2s;
}
}


h1 {
  font-size: 3.2rem;
  margin: 1.5rem;
  margin-top: -5rem;
  font-style: italic;
  display: inline-block;
  background: linear-gradient(violet, lightblue,green);
  -webkit-background-clip: text;
  color: transparent;
}

.leave-title {
  animation: move-title 0.3s forwards;
}
@keyframes move-title {
   30% {
    transform: translateX(100px);
    letter-spacing: -7px;
   }
   40%{
     letter-spacing: 5px;
     transform: translateX(50px);
   }
   50%{
    letter-spacing: 15px;
    transform: translateX(10px);
   }
   55% {
     letter-spacing: 20px;
     transform: translateX(-10px);
     opacity:1;
   }
   100%{
     transform: translateX(-10px);
     letter-spacing:-7px;
     opacity:0;
   }
}
.go-title {
  animation: move-title-in .5s forwards;
}
@keyframes move-title-in {
  30% {
    transform: translateX(100px);
    letter-spacing: -7px;
   }
   40%{
     letter-spacing: 5px;
     transform: translateX(50px);
   }
   50%{
    letter-spacing: 15px;
    transform: translateX(10px);
   }
   55% {
     letter-spacing: 20px;
     transform: translateX(-5px);
     opacity:1;
   }
   100% {
     letter-spacing: 5px;
     transform: translate(0);
   }
  }


h2 {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}

.subheader {
  display: none;
  grid-template-columns: 15rem 15rem 15rem;
  padding: 5rem;
  justify-items: center;
  column-gap: 5rem;
  justify-content: center;
  transition: .5s;
}

.subheader-contents {

  cursor:pointer;

}

.logo{
  width:40px;
  margin: 0.5rem;
 
}
.logo:hover {
  cursor: pointer;
}

.title-container{
  display: flex;
  justify-content: flex-end;
}

.logos{
  margin-right:10rem;
  position: relative;
}


 .tooltiptext {
  visibility: hidden;
  /*background-color:  hsl(200, 63%, 61%);*/
  background-color: rgb(240, 226, 240);
  width: 18rem;
  font-size:12px;
  color: hsl(210deg 84% 34%);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 2px 2px 0.4px 0.4px hsl(210deg 84% 34%);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top:52px;
  left:-22px;
}

#github:hover+.tooltiptext {
  visibility: visible;
 
}

#codepen:hover+.tooltiptext {
  visibility: visible;
  left:10px;
}